#listii{
  background:linear-gradient(rgb(161, 161, 18),rgb(252, 252, 87),rgb(252, 252, 98),rgb(253, 253, 140),rgb(253, 253, 86),rgb(240, 240, 78),rgb(204, 204, 53),rgb(161, 161, 18));
  font-weight: bold;
}
#head{
  background:linear-gradient(rgb(161, 161, 18),rgb(252, 252, 87),rgb(252, 252, 98),rgb(253, 253, 140),rgb(253, 253, 86),rgb(240, 240, 78),rgb(204, 204, 53),rgb(161, 161, 18));
  font-weight: bold;
}